<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /stjecomm/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$   /stjecomm/index.php?slug=$1 [L]
</IfModule>